.container{
    padding:40px 0; 
    display: flex;
    justify-content: space-between;
    gap: 50px;
    .block-right{
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1{
            font-family: "Barlow Semi Condensed", sans-serif;
            font-weight: 600;
            font-style: normal
        }
    }
    .button-buy{
        padding: 10px 50px;
        background-color: #1C62CD;
        color: white;
        width: fit-content;
        cursor: pointer;
    }
    .block-left{
        text-align: center;
        img{
            width: 600px;
        }
        h1{
            font-size: 2.5rem;
            font-weight:bold;
            line-height: 40px;
            font-family: "Barlow Semi Condensed", sans-serif;
            font-weight: 800;
            font-style: normal
        }
    }
    .block-icon{
        display: flex;
        gap: 20px;
        .star{
            display: flex;
            gap: 3px;
            h2{
                color: blue;
            }
        }
    }
    .block-text{
        padding-top: 10px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        .block-text-row{
            padding: 10px 0;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            display: flex;
            justify-content: space-between;
            width: 400px;
        }
    }
}
.GoodsTwo{
    padding-top: 50px
}