.cart-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
}
.cart-like{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    .block-like{
        display: flex;
        width: 100%;
        gap: 20px;
        max-width: 800px;
        justify-content: space-between;
    }
        .text-like-one{
            padding-top: 45px;
            b{
                font-size: 20px;
            }
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        
}
.button-like{
    padding-bottom: 40px;
    display: flex;
    justify-content: end;
    cursor: pointer;
    font-size: 20px;
}
.button-like-top{
    display: none;
}


@media(max-width:676px){
    .cart-like{
        flex-direction: column;
        .block-like{
            flex-direction: column;
            .button-like-top{
                font-size: 28px;
                justify-content: end;
                display: flex;
            }
        }
        .button-like{
            display: none;
        }
    }


}
