.goods-container{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
    

        .block-box{
            margin: 20px auto;
            width: fit-content;
            background-color: #F0F0F4;
            padding: 10px 40px;
            
            &:hover{
                background-color: #1C62CD;
                color: white;
                cursor: pointer;
                transition: .4s;
            }

                h3{
                    letter-spacing: 1px;
                }
        }


    .cart-container{
    
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    .img-cart{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 270px;
        img{
            width: 100%;
            object-fit: contain !important;
            height: auto !important;
        }
    }
    .cart-block-div{
        min-width: 300px;    
    }

    .cart-box{
        margin: 10px 5px;
        height:450px;
        min-width: 300px;
        max-height:500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        a{
            display: flex;
            flex-direction: column;
        }

        .cart-box-block-heart{
            display: flex;
            justify-content: end;
        }

        h2{
            padding: 15px 0px;
        }
        h4{
            width: fit-content;
            font-size: 20px;  
        }
        p{
            font-size: 20px;
            width: 55px !important;;
            height: 34px !important;;
            color: white;
            width: fit-content;
            border-top-left-radius:10px;
            background-color: #1C62CD;
            align-items: center;
            display: flex;
            justify-content: center;
        }
        .icon-basket{

            margin: 0px -15px -15px 0px ;
            display: flex;
            justify-content: end;
            align-items: end; 
        }
        &:hover h3{
            color: #1C62CD;   
             transition: .4s;
        }
        &:hover{
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            transition: .4s;
        }
        
    }

    .goods-list{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        font-weight: 700;
        max-width: 800px;
        P{

            cursor: pointer;
        }
        .h3-active{
           border-bottom:  3px solid blue;
        }        
        p{
            font-size: 18px;
        }
    }
.open-icon.open-icons{
    color: red;
}


@media(max-width:1230px){
    .img-cart{
        width: 100% !important;
    }
}

@media(max-width:700px){
    .goods-container{
        padding-top: 40px    ;
    }
    .goods-list{
        justify-content: start;
        gap: 20px;
    }
    .cart-box{
        a{
            display: flex;
            flex-direction: column;
        }
    }
}

@media(max-width:545px){
    .cart-box{
        align-items: center;
        h2{
            font-size: 17px;
        }
        h3{
            font-size: 12px;
    }
}
}