.icon{
    padding: 20px 0px;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 15px;    
    color: #C4C4C4;
}
.JetSki-text-top{
    display: flex;
    flex-direction: column;
    gap: 10px;

    .JetSki-container-block{
        gap: 30px;
        display: flex;
        justify-content: space-between;
    }
    .JetSki-block{
        display: flex;
        gap: 20px;

        p{
            height: fit-content;
            padding: 5px 15px;
            background-color: #F0F0F4;
        }

    }
}

.all-container{
    padding: 40px 0px;
    display: flex;
    gap: 50px;

    .left-contaner-JetSki{
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding: 7px 0px;
    }
    .cart-big-contaner{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .cart-container{
            display: flex;
            gap: 20px;
        }
    }
    
    
}
.pagenation{
    display: flex;
    gap: 10px;
    justify-content: center;

    .page-link{
        cursor: pointer;
        border: none;
        width: 25px ;
        height: 25px;
        color: rgb(0, 0, 0);
        border: 1px solid #2775eb;
        
     
    }
    .page-link.active{
        color: white;
        background-color: #2775eb;
    }
}
.cart-box-div{
    width: 100%;
}

.JetSki-block-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .JetSki-block-department{
        display: flex;
        gap: 15px;
        p{
            cursor: pointer;
            padding: 10px;
            background-color: #F0F0F4;
            width: fit-content;
        }
    }
}
.cart-container-box{
    display:flex;
    flex-wrap: wrap;
}
.cart-box-div{
    min-width: 300px;
    width: 300px;
}
.filter-active{
    background-color: rgba(199, 199, 199, 0.708) !important;
}
@media(max-width:1550px){
    .cart-container{
        width: 100% !important;
    }
}

@media(max-width:1070px){

    .cart-container{
        width: 100% !important;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media(max-width:900px){
    .JetSki-block{
        flex-wrap: wrap;
        width: fit-content;
    }
}
@media(max-width:767px){
    .JetSki-block-department{
      flex-wrap: wrap;
    }

        .icon{
            align-items: start !important;
            flex-direction: column !important;
        }

    .JetSki-container-block{
        justify-content: start;
        flex-direction: column;
        .JetSki-block{
            p{
                width: fit-content;
            }
        }
    }
}
@media(max-width:500px){
    .all-container{
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
    
}
