*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Big-Container{
    padding: 40px 100px;
}
ul li{
    list-style: none;
}

// ---header---
.header-container{
    display: flex;
    justify-content: space-between;

    .header-left , .header-right{
        display: flex;
        gap: 25px;
        align-items: center;
    }
    .header-right{
        width: 100%;
        max-width: 500px;
        justify-content: space-between;
    }
    .header-right-block{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .header-right-block-icon{
        display:flex;
        gap: 15px;
        font-size: 22px;
    }
}

// ---footer---
.footer-container{
    gap: 40px;
    padding: 40px 100px;
    justify-content: space-between;
    display: flex;
    background-color: #F0F0F4;

    .footer-center{
        max-width: 800px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-center-block{
        width: 100%;
        max-width: 400px;
        gap: 20px;
        justify-content: space-between;
        display: flex;
    }
    .footer-block-text ul{
        display: flex;
        flex-direction: column;
        gap: 8px;

        .one-text{
            font-weight: 700;
        }
    }
    .footer-icon{
        font-size: 28px;
        gap: 10px;
        display: flex;
    }
    .footer-left{
        max-width: 400px;
        width: 100%;
    }
    .footer-block-left{
        padding-top: 20px;
        display: flex;
    }
    .footer-block-left input{
        width: 100%;
    }
    .footer-block-left input, .footer-block-left button{
        padding: 10px;
        border: none;
        outline: none
    };
    .footer-block-left button{
        padding: 0px 30px;
        cursor: pointer;
        background-color: #1C62CD;
        color: white;
    }
}


// ----Navbar----
.Navbar-container ul{
    padding: 10px;
    margin-top: 50px;
    background-color: #F0F0F4;
    display: flex;
    justify-content: space-between;
}
.Navbar-container ul li{
    cursor: pointer;
}

// ---Swiper---
.Swiper-container{
    height: 550px;
    gap: 50px;
    justify-content: space-between;
    display: flex;
    padding: 40px 0px;
}
.swiper{
    width: 850px;
    height: 100%;
}
.swipers{
    height: 100%;
    width: 850px;
}

.swiper-slide.swiper-slide-active img ,
.swiper-slide.swiper-slide-next img ,
.swiper-slide.swiper-slide-prev img ,
.swiper-slide img{
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
}

.swiper-right{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.block-top-swiper p{
    font-weight: 700;
    padding: 10px 20px;
    background-color: #1C62CD;
    color: white;
}
.block-top-swiper  h3{
    padding-right: 10px;
    font-size: 22px;
}
.block-top-swiper{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.block-center-img{
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.block-center-img img{
    width: 170px;
}
.block-center-img h3{
    width: 200px;

}
.block-botton-text{
    font-weight: 700    ;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F0F0F4;
    padding: 32px;
}