*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Big-Container{
    padding: 40px 100px;
}
ul li{
    list-style: none;
}

// ---header---
.header-container{
    display: flex;
    justify-content: space-between;

    .header-left , .header-right{
        display: flex;
        gap: 25px;
        align-items: center;
    }
    .header-right{
        width: 100%;
        max-width: 500px;
        justify-content: space-between;
    }
    .header-right-block{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .header-right-block-icon{
        display:flex;
        gap: 15px;
        font-size: 22px;
    }
}

// ---footer---
.footer-container{
    padding: 40px 100px;
    justify-content: space-between;
    display: flex;
    background-color: #F0F0F4;

    .footer-center{
        max-width: 800px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .footer-center-block{
        width: 100%;
        max-width: 400px;
        gap: 20px;
        justify-content: space-between;
        display: flex;
    }
    .footer-block-text ul{
        display: flex;
        flex-direction: column;
        gap: 8px;

        .one-text{
            font-weight: 700;
        }
    }
}